<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>富士康实时数据图表</title>
		<link rel="icon" href="img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="css/home.css" />
	</head>

	<body>
		<div class="mian">
			<div class="left-pannel">
				<div class="col-container-title">
					<label></label><span>输入层</span>
				</div>
				<div class="col-container-title">
					<label></label><span>第一卷积层</span>
				</div>
				<div class="col-container-title">
					<label></label><span>第二卷积层</span>
				</div>
				<div class="col-container-title">
					<label></label><span>第三卷积层</span>
				</div>
				<div class="col-container-title">
					<label></label><span>全连接层</span>
				</div>
				<div class="col-container-title">
					<label></label><span>输出层</span>
				</div>
			</div>
			<div class="right-pannel">
				<div class="right-pannel-pos" id="testId">
					
				</div>
				<div class="col-container">
					<div class="long-panel-box" id="zheChartsId1">

					</div>
				</div>
				<div class="col-container">
					<div class="short-panel-box" id="zheChartsId2">

					</div>
					<div class="short-panel-box" id="zheChartsId3">

					</div>
					<div class="short-panel-box" id="zheChartsId4">

					</div>
					<div class="short-panel-box" id="zheChartsId5">

					</div>
				</div>
				<div class="col-container">
					<div class="six_short-panel-box" id="zheChartsId6">

					</div>
					<div class="six_short-panel-box" id="zheChartsId7">

					</div>
					<div class="six_short-panel-box" id="zheChartsId8">

					</div>
					<div class="six_short-panel-box" id="zheChartsId9">

					</div>
					<div class="six_short-panel-box" id="zheChartsId10">

					</div>
					<div class="six_short-panel-box" id="zheChartsId11">

					</div>
				</div>
				<div class="col-container">
					<div class="small-panel-box" id="zheChartsId12">

					</div>
					<div class="small-panel-box" id="zheChartsId13">

					</div>
					<div class="small-panel-box" id="zheChartsId14">

					</div>
					<div class="small-panel-box" id="zheChartsId15">

					</div>
					<div class="small-panel-box" id="zheChartsId16">

					</div>
					<div class="small-panel-box" id="zheChartsId17">

					</div>
					<div class="small-panel-box" id="zheChartsId18">

					</div>
					<div class="small-panel-box" id="zheChartsId19">

					</div>
				</div>
				<div class="col-container">
					<div class="normal-panel-box" id="zheChartsId20">

					</div>
					<div class="normal-panel-box" id="zheChartsId21">

					</div>
				</div>
				<div class="col-container" id="panel-box-btn-list">
					<div class="long-panel-box" id="zheChartsId22">

					</div>
					
					<img class="panel-box-btn" src="img/small_back_home.png" style="display: none;" />
				</div>
			</div>

		</div>
		<script src="js/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/echarts3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/home.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>