<div data-page="agv" class="page" id="agv">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="back link"> <i class="iconfont icon-back"></i> </a>
			</div>
			<div class="center sliding title" id="agvCenterTitleID">AGV</div>
			<div class="right">

			</div>
		</div>

	</div>
	<div class="page-content agvPageContent" style="padding-top: 54px !important;padding-left: 0.5rem !important;padding-right: 0.5rem !important;">
		<div class="agvContent">
            <img src="/Image/Fsk_white/jiao_big.png"/>
            <img src="/Image/Fsk_white/jiao_big.png"/>
			<div class="foxbotTop row">
				<div class="col-50 agv_AGVNo">NO.31746f24a4c0013</div>
				<div class="col-50 foxbotRight">
					<label class="agv_ElectricQuantityValue"> 72</label>%
					<div>
						<span><i></i></span>
					</div>
				</div>
			</div>
			<div class="publicContent">
			</div>
			<span class="agvCoordinate">
				<label class="dangAnTime_agv">档案记录时间</label><br>
				<label class="jiGuang_agv">激光雷达状态</label><br>
                <!--<b>X: </b><label class="agv_CoordX">1135</label> <br>
                <b>Y: </b><label class="agv_CoordY">1460</label>  <br>
                <b>Angle: </b><label class="agv_angle">35 deg</label>-->
            </span>
		</div>
		<ul class="agvFooter row no-gap">
            <img src="/Image/Fsk_white/jiao_small.png"/>
            <img src="/Image/Fsk_white/jiao_small.png"/>
			<li class="col-25"><span></span>
				<p class="agv_TaskState">系统状态</p>
			</li>
			<li class="col-25"><span></span>
				<p class="agv_MoveState">当前地图</p>
			</li>
			<li class="col-25"><span></span>
				<p class="agv_ConnectState">移动状态</p>
			</li>
			<li class="col-25"><span></span>
				<p class="agv_ExceptionState">动作状态</p>
			</li>
		</ul>

	</div>
</div>