<div data-page="agv_dg" class="page" id="agv_dg">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="back link"> <i class="iconfont icon-back"></i> </a>
			</div>
			<div class="center sliding title" id="agvDgCenterTitleID">FANUC</div>
			<div class="right">

			</div>
		</div>
	</div>
	<div class="page-content foxbotPageContent" style="padding-top: 54px !important;padding-bottom: 100px !important;padding-left: 0.5rem !important;padding-right: 0.5rem !important;">

		<div class="foxbotContent">
			<img src="/Image/Fsk_white/jiao_big.png" />
			<img src="/Image/Fsk_white/jiao_big.png" />
			<div class="row foxbotDataCoordinate publicContent" style="padding-right: 0 !important;background: url(/Image/fsk_white/FOXBOT_DJ.gif) no-repeat center center/auto 120%;">
				
			</div>
		</div>
		<ul class="foxbotFooter row no-gap">
			<img src="/Image/Fsk_white/jiao_small.png" />
			<img src="/Image/Fsk_white/jiao_small.png" />
			<li class="col-25"><span></span>
				<p class="agv_dg_RunState">工作模式</p>
			</li>
			<li class="col-25"><span></span>
				<p class="agv_dg_StatusState">使能状态</p>
			</li>
			<li class="col-25"><span></span>
				<p class="agv_dg_PauseState">错误状态</p>
			</li>
			<li class="col-25"><span></span>
				<p class="agv_dg_Speed">错误码</p>
			</li>
		</ul>

	</div>
</div>