<div data-page="atm" class="page" id="atm">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="back link"> <i class="iconfont icon-back"></i> </a>
			</div>
			<div class="center sliding title" id="atmDgCenterTitleID">ATM</div>
			<div class="right">

			</div>
		</div>
	</div>
	<div class="page-content foxbotPageContent" style="padding-top: 54px !important;padding-bottom: 100px !important;padding-left: 0.5rem !important;padding-right: 0.5rem !important;">

		<div class="agvContent">
			<img src="/Image/Fsk_white/jiao_big.png" class="leftTopArrowImg" />
			<img src="/Image/Fsk_white/jiao_big.png" class="rightTopArrowImg" />
			<img src="/Image/Fsk_white/jiao_small.png" class="leftBottomArrowImg"/>
            <img src="/Image/Fsk_white/jiao_small.png" class="rightBottomArrowImg"/>
			<div class="publicContent" style="padding-right: 0 !important;background: url(/Image/fsk_white/ATM.gif) no-repeat center center/auto 120%;">
				
			</div>
			<span class="agvCoordinate">
				<label class="dangAnTime_atm">记录时间</label><br>
				<label class="rengjing_atm">刃徑</label><br>
            </span>
		</div>
	</div>
</div>