
 <div data-page="equipList" class="page" id="equipList">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left"></div>
                <div class="center sliding title">设备列表</div>
                <div class="right">
                   
                </div>                
            </div>
        </div>        
        <div class="page-content equipListContent">
          <!-- 模块设备1 -->
            <div class="block-title">设备详情</div>
            <div class="list">
              <ul>
                <li class="accordion-item bottomLine"><a href="/agv/" class="item-content item-link">
                    <div class="item-inner">
                      <div class="item-title">agv</div>
                    </div></a>
                </li>
                <li class="accordion-item bottomLine"><a href="/feeder/" class="item-content item-link">
                    <div class="item-inner">
                      <div class="item-title">feeder</div>
                    </div></a>
                </li>
                <li class="accordion-item bottomLine"><a href="/foxbot/" class="item-content item-link">
                    <div class="item-inner">
                      <div class="item-title">foxbot</div>
                    </div></a>
                </li>                
              </ul>
            </div>
        </div>
    </div>
