<div data-page="equipList" class="page" id="equipList">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"></div>
			<div class="center sliding title">监控中心</div>
			<div class="right">
				
			</div>
			<div class="subnavbar" style="background: #fff;">
				<div class="subnavbar-inner" style="width: 70%;margin: auto;">
					<div class="segmented segmented-raised">
						<a class="button tab-link tab-link-active" href="#tab1" style="border-radius: 3px 0 0 3px;height: 29px;;line-height: 29px;">导轨控制台</a>
						<a class="button tab-link" href="#tab2" style="border-radius: 0 3px 3px 0;height: 29px;;line-height: 29px;">监控控制台</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-content hide-navbar-on-scroll equipListContent" style="padding-top: 86px !important;">
		<div class="tabs equipListGuide">
			<div class="main-guide-panel tab tab-active" id="tab1">
				<div class="guide-big-box" id="guideControlModelId">
					<div class="guide-box-desc">当前导轨模式</div>
					<div class="guide-box-value"><span>高速模式</span><i class="iconfont icon-genggai"></i></div>
				</div>
				<div class="guide-small-box" id="guideControlSpeedId">
					<div class="guide-box-desc">加速参数设置</div>
					<div class="guide-box-value"><span>4</span><i class="iconfont icon-genggai"></i></div>
				</div>
				<div class="guide-small-box" id="guideControlValueId">
					<div class="guide-box-desc">高速参数设置</div>
					<div class="guide-box-value"><span>320</span><i class="iconfont icon-genggai"></i></div>
				</div>
				<div class="guide-control-box" id="guideControlId">
					<div class="guide-control-stop">
						<i class="iconfont icon-fangxiangjian left-top-controlstep" id="guideControlStepId1"></i>
						<i class="iconfont icon-fangxiangjian left-bottom-controlstep" id="guideControlStepId2"></i>
						<i class="iconfont icon-fangxiangjian right-top-controlstep" id="guideControlStepId3"></i>
						<i class="iconfont icon-fangxiangjian right-bottom-controlstep" id="guideControlStepId4"></i>
					</div>
					<div class="guide-control-step">
						<i class="iconfont icon-zanting"></i>
					</div>
				</div>
			</div>
			<div class="main-guide-panel tab" id="tab2">
				<div class="guide-control-panel">
					<div class="guide-control-panel-box" id="monitorControlSpeedId">
						<div class="guide-control-top-box" id="monitorControlSpeedTopId">
							<i class="iconfont icon-fangxiangjian"></i>
						</div>
						<div class="guide-control-center-box">
							<span>倍速</span>
							<font>调整</font>
						</div>
						<div class="guide-control-bottom-box" id="monitorControlSpeedBottomId">
							<i class="iconfont icon-fangxiangjian"></i>
						</div>
					</div>
					<div class="guide-control-panel-box" id="monitorControlApertureId">
						<div class="guide-control-top-box" id="monitorControlApertureTopId">
							<span>ON</span>
						</div>
						<div class="guide-control-center-box">
							<span>关闭</span>
							<label>光圈状态</label>
						</div>
						<div class="guide-control-bottom-box" id="monitorControlApertureBottomId">
							<span>OFF</span>
						</div>
					</div>
					<div class="guide-control-panel-box" id="monitorControlFocusId">
						<div class="guide-control-top-box" id="monitorControlFocusTopId">
							<i class="iconfont icon-fangxiangjian"></i>
						</div>
						<div class="guide-control-center-box">
							<span>焦点</span>
							<font>调整</font>
						</div>
						<div class="guide-control-bottom-box" id="monitorControlFocusBottomId">
							<i class="iconfont icon-fangxiangjian"></i>
						</div>
					</div>
				</div>
				<div class="guide-control-box" id="monitorControlId">
					<div class="guide-control-stop">
						<i class="iconfont icon-fangxiangjian left-top-controlstep" id="monitorControlStepId1"></i>
						<i class="iconfont icon-fangxiangjian left-bottom-controlstep" id="monitorControlStepId2"></i>
						<i class="iconfont icon-fangxiangjian right-top-controlstep" id="monitorControlStepId3"></i>
						<i class="iconfont icon-fangxiangjian right-bottom-controlstep" id="monitorControlStepId4"></i>
					</div>
					<div class="guide-control-step">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>