<div data-page="equipList" class="page" id="equipList">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"></div>
			<div class="center sliding title">监控中心</div>
			<div class="right">
				<a href="#" class="link icon-only panel-open"><i class="iconfont icon-caidan"></i></a>
			</div>
		</div>
	</div>
	<div class="page-content equipListContent">
		<ul class="equipListContent-list row">
			<li class="col-50">
				<img src="/Image/Fsk_white/navigation.png"/>
				<p>导轨</p>
				<p>控制台</p>
			</li>
			<li class="col-50">
				<img src="/Image/Fsk_white/monitor.png"/>
				<p>监控</p>
				<p>控制台</p>
			</li>
<!-- 			<li class="equipNoBackImg">
				<img src="/Image/Fsk_white/navigation1.png"/>
				<p>导轨</p>
				<p>控制台</p>
			</li>
			<li class="equipNoBackImg">
				<img src="/Image/Fsk_white/monitor1.png"/>
				<p>监控</p>
				<p>控制台</p>
			</li> -->
		</ul>
        <section class="ControlGuide row">
        	<div class="ControlGuideHeader col-100 row">
				<a draggable="false" href="#" class="multipleIncrease col-33"><p>倍速增加</p></a>
				<a draggable="false" href="#" class="multipleReduce col-33"><p>倍速减少</p></a>
				<a draggable="false" href="#" class="focusZoomIn col-33"><p>焦点拉远</p></a>
				<a draggable="false" href="#" class="focusPullFar col-33"><p>焦点拉近</p></a>
				<a draggable="false" href="#" class="apertureOpen col-33"><p>光圈打开</p></a>
				<a draggable="false" href="#" class="apertureClose col-33"><p>光圈关闭</p></a>
            </div>
			<div class="ControlGuideFooter col-100 row">
				<a draggable="false" href="#" class="controlDirection_Left" ></a>
				<a draggable="false" href="#" class="controlDirection_Top" ></a>
				<a draggable="false" href="#" class="controlDirection_Right"></a>
				<a draggable="false" href="#" class="controlDirection_Bottom"><p>云台控制</p></a>
				<a draggable="false" href="#" class="controlDirection_Stop"></a>
			</div>
        </section>
        <section class="controlMonitor">
        	
        </section>
	</div>
</div>