<div data-page="feeder" class="page" id="feeder">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="back link"> <i class="iconfont icon-back"></i> </a>
			</div>
			<div class="center sliding title" id="feederDgCenterTitleID">TG送料机</div>
			<div class="right">

			</div>
		</div>
	</div>
	<div class="page-content feederPageContent" style="padding-top: 54px !important;padding-bottom: 100px !important;padding-left: 0.5rem !important;padding-right: 0.5rem !important;">
		<div class="feederContent">
			<img src="/Image/Fsk_white/jiao_big.png" />
			<img src="/Image/Fsk_white/jiao_big.png" />
			<div class="publicContent">
			</div>
			<span class="agvCoordinate">
				<label class="jiluTime_feeder">记录时间</label>
                <!--<b>X: </b><label class="agv_CoordX">1135</label> <br>
                <b>Y: </b><label class="agv_CoordY">1460</label>  <br>
                <b>Angle: </b><label class="agv_angle">35 deg</label>-->
            </span>
		</div>
		<ul class="feederFooter row no-gap">
			<img src="/Image/Fsk_white/jiao_small.png" />
			<img src="/Image/Fsk_white/jiao_small.png" />
			<li class="col-25"><span></span>
				<p class="feeder_TaskState">轴名称</p>
			</li>
			<li class="col-25"><span></span>
				<p class="feeder_MoveState">轴补偿值</p>
			</li>
			<li class="col-25"><span></span>
				<p class="feeder_ConnectState">同步误差</p>
			</li>
			<li class="col-25"><span></span>
				<p class="feeder_ExceptionState">跟踪误差</p>
			</li>
		</ul>

	</div>
</div>