<div data-page="foxbot" class="page" id="foxbot">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="back link"> <i class="iconfont icon-back"></i> </a>
			</div>
			<div class="center sliding title">FOXBOT</div>
			<div class="right">

			</div>
		</div>
	</div>
	<div class="swiper-container swiper-container-horizontal" id="swiperContainerId2">
		<div class="swiper-wrapper">
			<div class="swiper-slide swiperSlideBackImg">
				<span>设备1</span>
			</div>
			<div class="swiper-slide">
				<span>设备2</span>
			</div>
			<div class="swiper-slide">
				<span>设备3</span>
			</div>
			<div class="swiper-slide">
				<span>设备4</span>
			</div>
			<div class="swiper-slide">
				<span>设备5</span>
			</div>
			<div class="swiper-slide">
				<span>设备6</span>
			</div>
			<div class="swiper-slide">
				<span>设备7</span>
			</div>
			<div class="swiper-slide">
				<span>设备8</span>
			</div>
			<div class="swiper-slide">
				<span>设备9</span>
			</div>
		</div>
	</div>
	<div class="agv_hr"></div>
	<div class="page-content foxbotPageContent" style="padding-top: 0 !important;padding-bottom: 100px !important;padding-left: 0.5rem !important;padding-right: 0.5rem !important;">

		<div class="foxbotContent">
			<img src="/Image/Fsk_white/jiao_big.png"/>
            <img src="/Image/Fsk_white/jiao_big.png"/>
			<!--                   <div class="foxbotTop row">
                     <div class="col-50 foxbot_">NO.190012321</div>
                     <div class="col-50 foxbotRight">
                         <label class="foxbot_">100</label>%
                      <div>
                        <span><i></i></span>
                      </div>
                     </div>
                  </div> -->
			<div class="row foxbotDataCoordinate publicContent" style="padding-right: 0 !important;">
				<div class="row">
					<div class="col-20 foxbotLeftCoordinate">
						<span>
                        <p><b>x: </b><label class="foxbot_x">54mm</label></p>
                        <p><b>y: </b><label class="foxbot_y">47mm</label></p>
                        <p><b>z: </b><label class="foxbot_z">101mm</label></p>
                       </span>
						<span>
                        <p><b>rx: </b><label class="foxbot_rx">52mm</label></p>
                        <p><b>ry: </b><label class="foxbot_ry">47mm</label></p>
                        <p><b>rz: </b><label class="foxbot_rz">0mm</label></p>
                       </span>
						<span>
                        <p><b>flg: </b><label class="foxbot_flg">-21mm</label></p>
                        <p><b>work: </b><label class="foxbot_work">-18mm</label></p>
                        <p><b>tool: </b><label class="foxbot_tool">16mm</label></p>
                       </span>
					</div>
					
					<div class="col-20 foxbotRightCoordinate">
						
						<span>
                        <p><b>J1: </b><label class="foxbot_Joint1">10deg</label></p>
                        <p><b>J2: </b><label class="foxbot_Joint2">25deg</label></p>
                        <p><b>J3: </b><label class="foxbot_Joint3">-5deg</label></p>
                        <p><b>J4: </b><label class="foxbot_Joint4">33deg</label></p>
                        <p><b>J5: </b><label class="foxbot_Joint5">47deg</label></p>
                        <p><b>J6: </b><label class="foxbot_Joint5">0deg</label></p>                    
                       </span>
					</div>
				</div>
			</div>
		</div>
		<ul class="foxbotFooter row no-gap">
			<img src="/Image/Fsk_white/jiao_small.png"/>
            <img src="/Image/Fsk_white/jiao_small.png"/>
			<li class="col-25"><span>运行中</span>
				<p class="foxbot_StatusState">机器人状态</p>
			</li>
			<li class="col-25"><span>34 mm/s</span>
				<p class="foxbot_RunState">机器人速度</p>
			</li>
			<li class="col-25"><span>关闭</span>
				<p class="foxbot_PauseState">Run按键</p>
			</li>
			<li class="col-25"><span>开启</span>
				<p class="foxbot_Speed">Pause按键</p>
			</li>
		</ul>

	</div>
</div>