<div data-page="foxnum" class="page" id="foxnum">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="back link"> <i class="iconfont icon-back"></i> </a>
			</div>
			<div class="center sliding title" id="foxnumCenterTitleID">Foxnum</div>
			<div class="right">

			</div>
		</div>

	</div>
	<div class="page-content agvPageContent" style="padding-top: 54px !important;padding-left: 0.5rem !important;padding-right: 0.5rem !important;">
		<div class="agvContent">
			<img src="/Image/Fsk_white/jiao_big.png" />
			<img src="/Image/Fsk_white/jiao_big.png" />
			<div class="foxbotTop row displayNone">
				<div class="col-50 agv_AGVNo"></div>
				<div class="col-50 foxbotRight">
					<label class="agv_ElectricQuantityValue"></label>
					<div>
						<span></span>
					</div>
				</div>
			</div>
			<div class="publicContent" style="background: url(/Image/fsk_white/FOXNUM.gif) no-repeat center center/auto 110%;">
			</div>
			<span class="agvCoordinate">
				<label class="dangAnTime_foxnum">档案记录时间</label><br>
                <!--<b>X: </b><label class="agv_CoordX">1135</label> <br>
                <b>Y: </b><label class="agv_CoordY">1460</label>  <br>
                <b>Angle: </b><label class="agv_angle">35 deg</label>-->
            </span>
		</div>
		<ul class="agvFooter row no-gap">
			<img src="/Image/Fsk_white/jiao_small.png" />
			<img src="/Image/Fsk_white/jiao_small.png" />
			<li class="col-25"><span></span>
				<p class="foxnum_TaskState">运行状态</p>
			</li>
			<li class="col-25"><span></span>
				<p class="foxnum_MoveState">PLC状态</p>
			</li>
			<li class="col-25"><span></span>
				<p class="foxnum_ConnectState">驱动器状态</p>
			</li>
			<li class="col-25"><span></span>
				<p class="foxnum_ExceptionState">机床状态</p>
			</li>
		</ul>

	</div>
</div>