<div data-page="video" class="page" id="video">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"></div>
			<div class="center sliding title">设备列表</div>
			<div class="right">
				
			</div>
		</div>
	</div>
	<div class="page-content videoContent row no-gap">
		<div class="left_video_menu col-30 rightLine">
			<ul>
				<li class="select_video_menu" data_id="1">
					<a href="#">中框产线</a>
				</li>
				<li data_id="2">
					<a href="#">刀具产线</a>
				</li>
			</ul>
		</div>
		<div class="historyRecord col-70" con_id="1">
			<!--<div class="video_top_btn bottomLine">
                      <span><i class="iconfont icon-goutongxuanzhong" style="font-size: 1.2rem;margin-right: 10px;position: relative;top: 0.1rem;"></i>自动巡逻</span>
                      <label class="toggle toggle-init color-orange">
                        <input type="checkbox" checked="">
                        <span class="toggle-icon"></span>
                      </label>
                  </div>-->
			<ul class="list">
				<li class="accordion-item bottomLine">
					<a href="/agv/" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">AGV</div>
						</div>
					</a>
					<!--                           <div class="accordion-item-content">
                            <div class="block">
                              <p>Item 1 content. Lorem ipsum dolor sit amet...</p>
                            </div>
                          </div> -->
				</li>
				<li class="accordion-item bottomLine">
					<a href="/foxbot/" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">FOXBOT</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="list accordion-list list-page col-70 displayNone" style="margin:0;" con_id="2">
			<ul id="Video_tree list">
				<li class="accordion-item bottomLine">
					<a href="/feeder/" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">送料机</div>
						</div>
					</a>
				</li>
			</ul>
		</div>

	</div>
</div>