<div data-page="video" class="page" id="video">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"></div>
			<div class="center sliding title">设备列表</div>
			<div class="right">
				
			</div>
		</div>
	</div>
	<div class="page-content videoContent row no-gap">
		<div class="left_video_menu col-30 rightLine">
			<ul>
				<li class="select_video_menu" data_id="1">
					<a href="#">中框产线</a>
				</li>
				<li data_id="2">
					<a href="#">刀具产线</a>
				</li>
			</ul>
		</div>
		<div class="historyRecord col-70" con_id="1">
			<ul class="list" id="middleFrameId">
				<li class="accordion-item bottomLine">
					<a href="/foxnum/?CNC1哈工大開放式五軸&20009" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">CNC1哈工大開放式五軸</div>
						</div>
					</a>
				</li>
				<li class="accordion-item bottomLine">
					<a href="/foxbot/?FOXBOT1&20019" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">FOXBOT1</div>
						</div>
					</a>
				</li>
				<li class="accordion-item bottomLine">
					<a href="/foxnum/?CNC2FOXNUM三軸&20008" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">CNC2FOXNUM三軸</div>
						</div>
					</a>
				</li>
				<li class="accordion-item bottomLine">
					<a href="/foxbot/?FOXBOT2&20020" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">FOXBOT2</div>
						</div>
					</a>
				</li>
				<li class="accordion-item bottomLine">
					<a href="/fanuc/?CNC2FANUC三軸&20015" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">CNC2FANUC三軸</div>
						</div>
					</a>
				</li>
				<li class="accordion-item bottomLine">
					<a href="/agv_dg/?固高1&20016" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">固高1</div>
						</div>
					</a>
				</li>
				<li class="accordion-item bottomLine">
					<a href="/agv/?AGV1&20006" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">AGV1</div>
						</div>
					</a>
				</li>
				<!--<li class="accordion-item bottomLine">
					<a href="/qsjcsb/" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">缺陷檢測設備</div>
						</div>
					</a>
				</li>-->
				<li class="accordion-item bottomLine">
					<a href="/agv_dg/?固高1&20017" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">固高2</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="list accordion-list list-page col-70 displayNone" style="margin:0;" con_id="2">
			<ul id="Video_tree list" id="cutToolId">
				<li class="accordion-item bottomLine">
					<a href="/feeder/?TG送料机&20007" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">TG送料机</div>
						</div>
					</a>
				</li>
				<li class="accordion-item bottomLine">
					<a href="/foxbot/?FOXBOT3&20021" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">FOXBOT3</div>
						</div>
					</a>
				</li>
				<li class="accordion-item bottomLine">
					<a href="/atm/?ATM&20010" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">ATM</div>
						</div>
					</a>
				</li>
				<li class="accordion-item bottomLine">
					<a href="/agv_dg/?固高3&20018" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">固高3</div>
						</div>
					</a>
				</li>
				<li class="accordion-item bottomLine">
					<a href="/agv/?AGV2&20005" class="item-content item-link">
						<div class="item-inner">
							<div class="item-title">AGV2</div>
						</div>
					</a>
				</li>
			</ul>
		</div>

	</div>
</div>